<div class='recipe-component' *ngIf="cocktailInfo">
	<div class="row">
		<app-ingredient-card *ngFor="let alcohol of cocktailInfo.recipe.alcohols" [isAlcohol]="true" [name]="alcohol.name" [quantity]="alcohol.quantity" (alcoholSelected)="updateSelectedAlcohols($event)"></app-ingredient-card>
	</div>
	<div class="row">
		<app-ingredient-card *ngFor="let other of cocktailInfo.recipe.other" [isAlcohol]="false" [name]="other.name" [quantity]="other.quantity"></app-ingredient-card>
	</div>
	<div class="row">
		<app-info-card [title]="'Preparation Instructions'" [infos]="[cocktailInfo.instructions]"></app-info-card>
	</div>
	<div class="row">
		<app-info-card [title]="'Summary'" [infos]="[priceTotalString()]"></app-info-card>
	</div>
</div>