<md-card class="ingredient-card-component" [ngClass]="isAlcohol ? 'alcohol-card' : 'ingredient-card'">
	<!-- <md-card-header>{{ quantity }}</md-card-header> -->
	<md-card-title>{{formattedIngredientTitle()}}</md-card-title>
	<div class="image">
		<img md-card-image [src]="getImageUrl()">
	</div>
	<section class="alcohol-info" *ngIf="selectedResult">
		<h4>{{selectedResult.title}}</h4>
		<div>
			<div class="details">
				<span>{{selectedResult.raw.tpformat}}</span>
				<span>{{selectedResult.raw.tpprixnormal}}</span>
			</div>
			<md-card-actions>
				<button md-raised-button [color]="'accent'" (click)="updateSelectedResult(-1)"><i class="material-icons">chevron_left</i></button>
				<button md-raised-button [color]="'accent'" (click)="updateSelectedResult(1)"><i class="material-icons">chevron_right</i></button>
			</md-card-actions>
		</div>
	</section>
</md-card>
