<md-card class="ingredient-card-component" [id]="id" [ngClass]="isAlcohol ? 'alcohol-card' : 'ingredient-card'">
	<md-card-title>
		<div class="title-text">{{formattedIngredientTitle()}}</div>
	</md-card-title>
	<div class="image">
		<img md-card-image [src]="imageUrl">
	</div>
	<section class="alcohol-info" *ngIf="selectedResult">
		<h4 class="alcohol-bottle-name">{{selectedResult.title || 'N/A'}}</h4>
		<!-- div keeps details and md-card-actions fixed to end of card -->
		<div>
			<div class="details">
				<span>{{selectedResult.raw.tpformat || 'N/A'}}</span>
				<span>{{selectedResult.raw.tpprixnormal || 'N/A'}}</span>
			</div>
			<md-card-actions>
				<button md-raised-button [color]="'accent'" (click)="updateSelectedResult(-1)"><i class="material-icons">chevron_left</i></button>
				<button md-raised-button [color]="'accent'" (click)="updateSelectedResult(1)"><i class="material-icons">chevron_right</i></button>
			</md-card-actions>
		</div>
	</section>
</md-card>
