md-card {
	width: 200px;
	text-align: center;
}

.alcohol-card {
	height: 360px;
}

.ingredient-card {
	height: 256px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.image {
	padding-top: 24px;
}

img {
	width: auto;
	height: 160px;
}

.alcohol-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.alcohol-info h4 {
	height: 36px;
}

.alcohol-info .details {
	height: 16px;
	margin: 16px 0;
	display: flex;
	justify-content: space-around;
}
